
# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Включаем mod_rewrite
  RewriteEngine On
  IndexIgnore */*

  RewriteRule ^sessionlife/(.*)?$ /sessionlife/$1 [L,PT]

  # Перенаправляем administrator на входной скрипт админки
  RewriteRule ^adminfrondevo_/(.*)?$ /backend/web/$1 [L,PT]
  RewriteRule ^adminfrondevo_ /adminfrondevo_/ [R=301,L]
  RewriteRule ^adminfrondevo_ /backend/web/$1 [L,PT]

  # Перенаправляем все запросы на входной скрипт

  RewriteCond %{REQUEST_URI} !\?
  RewriteCond %{REQUEST_URI} !\&
  RewriteCond %{REQUEST_URI} !\=
  RewriteCond %{REQUEST_URI} !\.
  RewriteCond %{REQUEST_URI} ![^\/]$
  RewriteRule ^(.*)\/$ /$1 [R=301,L]

  RewriteRule ^.*$ frontend/web/index.php
</IfModule>


