address.fd__contacts
    div.fd__top-stripe.queue.queue2
    span.fd__contacts-line.queue.queue3
        span.c-contact-item.map Україна, Кривий Рiг, пр. Миру, 28
    span.fd__contacts-line.queue.queue4
        a(href="tel:0671702727").c-contact-item.tel +38 067 170 27 27
    span.fd__contacts-line.queue.queue5
        a(href="skype:ksayri").c-contact-item.skype Ksayri
    span.fd__contacts-line.queue.queue6
        a(href="mailto:welcome@frondevo.com").c-contact-item.email welcome@frondevo.com
    div.fd__bot-stripe.queue.queue7