/* ------------------------------------------------- auth ------------------------------------------------------------*/
/* line 3, ../sass/auth.scss */
.auth {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
}

/* line 9, ../sass/auth.scss */
.auth-form {
  position: absolute;
  background-color: white;
  width: 377px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px 0 0 0;
}

/* line 25, ../sass/auth.scss */
.auth-form.active {
  display: block;
}

/* line 29, ../sass/auth.scss */
.auth__login {
  height: 301px;
  top: -107px;
  bottom: 0 !important;
}

/* line 35, ../sass/auth.scss */
.auth__forget-password {
  height: 211px;
  top: -57px;
  bottom: 0 !important;
}

/* line 41, ../sass/auth.scss */
.auth__header {
  color: #fff;
  padding: 5px 0 5px 20px;
  background-color: #007dad;
  margin: 0 0 25px;
  font-weight: normal;
}

/* line 49, ../sass/auth.scss */
.auth-form__row {
  margin: 0 0 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 55, ../sass/auth.scss */
.auth-form__controls {
  margin: 0 0 20px;
  padding: 5px 23px 0 20px;
  position: relative;
}

/* line 61, ../sass/auth.scss */
.auth-form__controls:after {
  clear: both;
  height: 0;
  display: block;
  content: '/';
  visibility: hidden;
}

/* line 69, ../sass/auth.scss */
.auth-form_button {
  position: absolute;
  right: 23px;
  top: 0;
}

/* line 75, ../sass/auth.scss */
.auth-form_button-back {
  background-color: #2980b9;
  top: 0;
  position: absolute;
  left: 20px;
}

/* line 82, ../sass/auth.scss */
.auth-form_button-back:hover {
  background-color: #2677b9;
}

/* line 86, ../sass/auth.scss */
.auth-form_button-back:active {
  background-color: #1070B1;
}

/* line 94, ../sass/auth.scss */
.auth-form_input {
  width: 335px;
}

/* line 106, ../sass/auth.scss */
.auth-form__forget-link {
  position: absolute;
  padding: 10px 23px 13px 20px;
  background-color: white;
  width: 334px;
  cursor: pointer;
  visibility: hidden;
}

/* line 115, ../sass/auth.scss */
.auth-form__forget-link:hover .auth-form__link {
  border-bottom: 1px solid #3498db;
}

/* line 119, ../sass/auth.scss */
.auth-form__link {
  color: #3498db;
  font-size: 12px;
  cursor: pointer;
}

/* line 125, ../sass/auth.scss */
.auth-form__link:hover {
  border-bottom: 1px solid #3498db;
}

/* line 129, ../sass/auth.scss */
.auth-form__created-by {
  font-size: 11px;
  color: #ACBABB;
  visibility: hidden;
  padding: 10px 23px 13px 20px;
  background-color: white;
  width: 334px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-decoration: none;
}

/* line 143, ../sass/auth.scss */
.auth-form__created-by span {
  color: #3498db;
  border-bottom: 1px solid transparent;
}

/* line 148, ../sass/auth.scss */
.auth-form__created-by:hover span {
  border-bottom-color: #3498db;
}

/* line 152, ../sass/auth.scss */
.auth-form_checkbox {
  position: relative;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

/* -------------------------------------------------/auth ------------------------------------------------------------*/

/*# sourceMappingURL=auth.css.map */
