.main-wrap {
  background-color: #fdfaf3; }

.inner-category {
  overflow: hidden; }

/* tour-select ===================================*/
.tour-select .ts-header {
  position: fixed;
  left: 136px;
  width: 250px;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #fdfaf3;
  color: #323e26;
  font-size: 17px;
  font-style: italic;
  padding: 74px 10px 0 50px;
  overflow: hidden; }
  .tour-select .ts-header .ts-btn-wrap {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 22px;
    text-align: center; }
    .tour-select .ts-header .ts-btn-wrap .ts-cantchoose-btn {
      outline: none;
      height: 40px;
      background: #005826;
      border-radius: 20px;
      cursor: pointer;
      padding: 0 68px 0 20px;
      margin: 0;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      border: none;
      display: inline-block;
      line-height: 40px;
      text-decoration: none;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      letter-spacing: 0.7px;
      font-weight: bold;
      color: #323e26;
      border: 1px solid #323e26;
      background: url(../img/ts-cantchoose-btn-icon.png) right center no-repeat; }
      .tour-select .ts-header .ts-btn-wrap .ts-cantchoose-btn:hover {
        background-color: #006f30; }
      .tour-select .ts-header .ts-btn-wrap .ts-cantchoose-btn:hover {
        color: #fff; }
  .tour-select .ts-header .ts-title {
    font-size: 35px;
    color: #323e26;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 39px;
    line-height: 50px;
    text-align: left;
    position: relative;
    font-style: normal;
    padding-bottom: 32px;
    margin-bottom: 29px; }
    .tour-select .ts-header .ts-title:after {
      content: "";
      width: 162px;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #323e26; }
.tour-select .ts-footer {
  width: 310px;
  position: fixed;
  left: 136px;
  bottom: 0;
  z-index: 2;
  background: #faf5e6;
  border-top: 1px solid #323e26;
  text-align: center;
  color: #3c320f;
  font-size: 14px;
  padding: 35px 0 22px 0;
  visibility: hidden; }
  .tour-select .ts-footer .ts-phone {
    width: 210px;
    margin: 0 auto 15px auto;
    font-weight: bold; }
    .tour-select .ts-footer .ts-phone address {
      padding-top: 3px;
      font-style: normal;
      font-size: 22px; }
  .tour-select .ts-footer .ts-footer-close {
    position: absolute;
    width: 39px;
    height: 20px;
    z-index: 1;
    top: -1px;
    right: 10px;
    border: none;
    cursor: pointer;
    padding: 0;
    text-indent: -7999px;
    background: url(../img/ts-footer-part.jpg) no-repeat;
    outline: none; }
  .tour-select .ts-footer .ts-phone-form {
    font-size: 13px;
    color: #3c320f; }
    .tour-select .ts-footer .ts-phone-form label {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 7px; }
    .tour-select .ts-footer .ts-phone-form input[type=text],
    .tour-select .ts-footer .ts-phone-form input[type=tel] {
      width: 177px;
      height: 21px;
      padding: 0 5px;
      border: 1px solid #3c320f;
      color: #3c320f;
      background: none;
      margin-bottom: 10px; }
      .tour-select .ts-footer .ts-phone-form input[type=text]::-webkit-input-placeholder,
      .tour-select .ts-footer .ts-phone-form input[type=tel]::-webkit-input-placeholder {
        font-style: italic;
        font-size: 11px; }
      .tour-select .ts-footer .ts-phone-form input[type=text]:-moz-placeholder,
      .tour-select .ts-footer .ts-phone-form input[type=tel]:-moz-placeholder {
        font-style: italic;
        font-size: 11px; }
      .tour-select .ts-footer .ts-phone-form input[type=text]:placeholder,
      .tour-select .ts-footer .ts-phone-form input[type=tel]:placeholder {
        font-style: italic;
        font-size: 11px; }
    .tour-select .ts-footer .ts-phone-form .ts-form.btn {
      outline: none;
      height: 38px;
      background: #005826;
      border-radius: 19px;
      cursor: pointer;
      padding: 0 26px;
      margin: 0;
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      border: none;
      display: inline-block;
      line-height: 38px;
      text-decoration: none;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      letter-spacing: 0.7px;
      font-weight: bold;
      color: #3c320f;
      border: 1px solid #3c320f;
      background: none; }
      .tour-select .ts-footer .ts-phone-form .ts-form.btn:hover {
        background-color: #006f30; }
      .tour-select .ts-footer .ts-phone-form .ts-form.btn:hover {
        background-color: #fcfbf9; }
.tour-select .ts-content {
  margin-left: 310px; }
  .tour-select .ts-content .ts-list .ts-item {
    display: block;
    position: relative;
    border-top: 3px solid #323e26;
    overflow: hidden; }
    .tour-select .ts-content .ts-list .ts-item:first-child {
      border: none; }
    .tour-select .ts-content .ts-list .ts-item a {
      display: block;
      overflow: hidden; }
      .tour-select .ts-content .ts-list .ts-item a > img {
        width: 100%;
        height: auto;
        float: left;
        display: block;
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        visibility: hidden; }
      .tour-select .ts-content .ts-list .ts-item a .ts-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .tour-select .ts-content .ts-list .ts-item a .ts-img img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          float: left;
          display: block;
          -webkit-transition: transform 0.3s ease-out;
          -moz-transition: transform 0.3s ease-out;
          -ms-transition: transform 0.3s ease-out;
          -o-transition: transform 0.3s ease-out;
          transition: transform 0.3s ease-out; }
      .tour-select .ts-content .ts-list .ts-item a:hover .tsi-title {
        background-color: rgba(50, 62, 38, 0.83);
        padding-left: 30px; }
      .tour-select .ts-content .ts-list .ts-item a:hover img {
        -webkit-transform: scale(1.02, 1.02);
        -moz-transform: scale(1.02, 1.02);
        -ms-transform: scale(1.02, 1.02);
        -o-transform: scale(1.02, 1.02);
        transform: scale(1.02, 1.02); }
      .tour-select .ts-content .ts-list .ts-item a .tsi-title {
        outline: none;
        height: 40px;
        background: #005826;
        border-radius: 20px;
        cursor: pointer;
        padding: 0 42px 0 20px;
        margin: 0;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        display: inline-block;
        line-height: 40px;
        text-decoration: none;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        letter-spacing: 0.7px;
        font-weight: bold;
        position: absolute;
        top: 40px;
        left: 0;
        text-align: left;
        border-radius: 0 20px 20px 0;
        border: 1px solid #fff;
        border-left: none;
        background: url(../img/tsi-title-icon.png) right center no-repeat;
        background-color: rgba(50, 62, 38, 0.83);
        -webkit-transition: padding-left 0.3s ease-out;
        -moz-transition: padding-left 0.3s ease-out;
        -ms-transition: padding-left 0.3s ease-out;
        -o-transition: padding-left 0.3s ease-out;
        transition: padding-left 0.3s ease-out;
        z-index: 10;
        letter-spacing: 0; }
        .tour-select .ts-content .ts-list .ts-item a .tsi-title:hover {
          background-color: #006f30; }
        .tour-select .ts-content .ts-list .ts-item a .tsi-title:hover {
          background-color: rgba(50, 62, 38, 0.83); }
@media screen and (max-height: 600px) {
  .tour-select .ts-header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; } }
