/* .ic-main-section ========================================= */
.ic-main-section {
  padding-top: 32px;
  padding-bottom: 49px; }
  .ic-main-section .ic-header {
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-bottom: 46px; }
  .ic-main-section .ic-header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    line-height: 430px; }
  .ic-main-section .ic-title {
    font-size: 39px;
    line-height: normal;
    display: block;
    vertical-align: middle;
    font-weight: normal;
    position: relative;
    margin: 0 auto 20px auto;
    color: #323e26;
    text-transform: uppercase; }
    .ic-main-section .ic-title > span {
      display: inline-block;
      position: relative;
      padding: 34px 0; }
      .ic-main-section .ic-title > span:before {
        content: "";
        position: absolute;
        height: 1px;
        background: #323e26;
        left: 36px;
        right: 36px;
        bottom: 0; }
  .ic-main-section .ic-content {
    margin: 0 130px 37px 130px;
    color: #3c320f;
    font-size: 15px;
    line-height: 22px;
    text-align: left; }
    .ic-main-section .ic-content time {
      font-style: italic; }
    .ic-main-section .ic-content h1 {
      width: 600px;
      font-family: Helvetica-neue-roman, Arial,sans-serif;
      font-size: 34px;
      margin-bottom: 24px;
      color: #3c320f;
      font-weight: normal;
      text-transform: none; }
    .ic-main-section .ic-content h2 {
      width: 800px;
      font-family: Helvetica-neue-roman, Arial,sans-serif;
      font-size: 34px;
      margin-bottom: 24px;
      color: #3c320f;
      font-weight: normal;
      text-transform: none; }
    .ic-main-section .ic-content h3 {
      width: 800px;
      font-family: Helvetica-neue-roman, Arial,sans-serif;
      font-size: 30px;
      margin-bottom: 24px;
      color: #3c320f;
      font-weight: normal;
      text-transform: none; }
    .ic-main-section .ic-content h4 {
      width: 800px;
      font-family: Helvetica-neue-roman, Arial,sans-serif;
      font-size: 26px;
      margin-bottom: 24px;
      color: #3c320f;
      font-weight: normal;
      text-transform: none; }
    .ic-main-section .ic-content h5 {
      width: 800px;
      font-family: Helvetica-neue-roman, Arial,sans-serif;
      font-size: 22px;
      margin-bottom: 24px;
      color: #3c320f;
      font-weight: normal;
      text-transform: none; }
    .ic-main-section .ic-content h6 {
      width: 800px;
      font-family: Helvetica-neue-roman, Arial,sans-serif;
      font-size: 18px;
      margin-bottom: 24px;
      color: #3c320f;
      font-weight: normal;
      text-transform: none; }
    .ic-main-section .ic-content p {
      width: 800px;
      margin-bottom: 24px; }
    .ic-main-section .ic-content ul {
      width: 800px;
      list-style: disc;
      margin: 0 15px 24px 15px; }
    .ic-main-section .ic-content ul ul {
      margin: 10px 0 12px 25px; }
    .ic-main-section .ic-content ol {
      width: 800px;
      list-style: decimal;
      margin: 0 15px 24px 20px; }
    .ic-main-section .ic-content ol ol {
      margin: 10px 0 12px 25px; }
    .ic-main-section .ic-content li {
      margin-bottom: 5px; }
    .ic-main-section .ic-content table {
      max-width: 800px;
      margin-bottom: 24px;
      font-size: 100%;
      width: auto;
      border: 1px solid #3c320f; }
    .ic-main-section .ic-content th,
    .ic-main-section .ic-content td {
      border: 1px solid #3c320f;
      padding: 4px;
      text-align: left; }
    .ic-main-section .ic-content th {
      font-weight: bold;
      text-align: center; }
    .ic-main-section .ic-content a,
    .ic-main-section .ic-content a font {
      color: #3c320f;
      text-decoration: underline; }
    .ic-main-section .ic-content a:hover,
    .ic-main-section .ic-content a:hover font {
      text-decoration: none; }
    .ic-main-section .ic-content img {
      margin: 0 0 24px 0; }
    .ic-main-section .ic-content img[align=left] {
      margin: 0 10px 24px 0;
      float: left; }
    .ic-main-section .ic-content img[align=right] {
      margin: 0 0 24px 10px;
      float: right; }
    .ic-main-section .ic-content dl {
      width: 800px;
      margin: 0 0 24px 0; }
    .ic-main-section .ic-content dt {
      font-weight: bold;
      margin-bottom: 2px; }
    .ic-main-section .ic-content dd {
      margin-bottom: 5px; }
    .ic-main-section .ic-content hr {
      width: 800px;
      height: 1px;
      border: none;
      color: #3c320f;
      background: #3c320f;
      margin: 24px 0;
      clear: both; }
  .ic-main-section .ic-content-footer {
    text-align: center; }
