.main-wrap {
  background-color: #fdfaf3; }

.inner-category {
  overflow: hidden; }

/* .ic-main-section ========================================= */
.ic-main-section {
  padding-top: 32px;
  padding-bottom: 10px; }
  .ic-main-section .ic-header {
    overflow: hidden;
    position: relative;
    text-align: center; }
  .ic-main-section .ic-header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    line-height: 430px; }
  .ic-main-section .ic-title {
    font-size: 39px;
    line-height: normal;
    display: block;
    vertical-align: middle;
    padding: 34px 0;
    font-weight: normal;
    position: relative;
    margin: 0 auto 56px auto;
    color: #323e26; }
    .ic-main-section .ic-title:before {
      content: "";
      position: absolute;
      width: 120px;
      height: 1px;
      background: #323e26;
      left: 50%;
      bottom: 0;
      margin-left: -60px; }
  .ic-main-section .icmsr-tabs {
    max-width: 1115px;
    margin: 0 auto 45px auto;
    padding: 0 15px;
    overflow: hidden; }
    .ic-main-section .icmsr-tabs .icmsr-tab {
      width: 50%;
      float: left;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      vertical-align: top; }
      .ic-main-section .icmsr-tabs .icmsr-tab:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 16px solid #fdfaf3;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .ic-main-section .icmsr-tabs .icmsr-tab:hover:before {
        background: rgba(253, 250, 243, 0.2); }
      .ic-main-section .icmsr-tabs .icmsr-tab.active {
        top: 0;
        cursor: default; }
        .ic-main-section .icmsr-tabs .icmsr-tab.active:before {
          border-width: 0;
          background: rgba(0, 0, 0, 0.2); }
        .ic-main-section .icmsr-tabs .icmsr-tab.active .icmsr-tab-title .icmsr-tab-tail {
          height: 8px;
          bottom: -7px; }
        .ic-main-section .icmsr-tabs .icmsr-tab.active .icmsr-tab-title:before {
          width: 33px;
          position: absolute;
          margin-left: -39px; }
        .ic-main-section .icmsr-tabs .icmsr-tab.active .icmsr-tab-title:after {
          width: 33px;
          left: 50%;
          margin-left: 6px; }
      .ic-main-section .icmsr-tabs .icmsr-tab .icmsr-tab-img img {
        width: 100%;
        height: auto;
        display: block;
        float: left;
        vertical-align: top; }
      .ic-main-section .icmsr-tabs .icmsr-tab .icmsr-tab-title {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -18px;
        z-index: 1;
        color: #fff;
        font-size: 35px;
        line-height: 40px;
        text-transform: uppercase;
        padding-bottom: 32px; }
        .ic-main-section .icmsr-tabs .icmsr-tab .icmsr-tab-title .icmsr-tab-tail {
          position: absolute;
          width: 12px;
          height: 0;
          bottom: 0;
          left: 50%;
          margin-left: -6px;
          background: url(../img/reports-tab-title-active.png) center bottom no-repeat;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        .ic-main-section .icmsr-tabs .icmsr-tab .icmsr-tab-title:before {
          content: "";
          width: 88px;
          height: 1px;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -88px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        .ic-main-section .icmsr-tabs .icmsr-tab .icmsr-tab-title:after {
          content: "";
          width: 88px;
          height: 1px;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: 0;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
  .ic-main-section .icmsr-content {
    font-size: 15px;
    position: relative;
    padding-top: 60px; }
    .ic-main-section .icmsr-content .lightbox-item {
      display: inline-block;
      width: 230px;
      /*height: $size;*/
      position: relative;
      overflow: hidden;
      vertical-align: top;
      font-size: 12px;
      letter-spacing: 0;
      margin: 0 4px 16px 4px; }
      .ic-main-section .icmsr-content .lightbox-item .lightbox-imgwrap {
        display: block;
        width: 230px;
        height: 230px;
        overflow: hidden;
        position: relative;
        border-radius: 115px; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-imgwrap img {
          display: block;
          border-radius: 115px; }
      .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk {
        display: block;
        width: 230px;
        position: relative;
        z-index: 1; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 206px;
          height: 206px;
          border: 12px solid rgba(253, 250, 243, 0.5);
          border-radius: 50%;
          z-index: 2; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 230px;
          background: url(../img/ert-img-icon.png) center no-repeat;
          background-size: 58px 58px;
          opacity: 0;
          z-index: 1;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 50%; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:hover:after {
          opacity: 1; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:hover .lightbox-text {
          text-decoration: underline; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk .lightbox-text {
          font-size: 15px;
          line-height: 18px;
          display: inline-block;
          color: #fff;
          text-decoration: none;
          margin: 0 35px; }
    .ic-main-section .icmsr-content .filters-preloader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      background: rgba(253, 250, 243, 0.2);
      visibility: hidden;
      cursor: wait; }
      .ic-main-section .icmsr-content .filters-preloader > span {
        width: 250px;
        height: 23px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: -11.5px;
        margin-left: -125px;
        background: url(../img/preloadder-green.gif) no-repeat; }
      .ic-main-section .icmsr-content .filters-preloader > span {
        margin-top: 0; }
    .ic-main-section .icmsr-content .icmsr-item {
      width: 500px;
      display: inline-block;
      vertical-align: top;
      margin: 0 23px 50px 23px;
      text-align: left;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .ic-main-section .icmsr-content .icmsr-item.target {
        opacity: 0;
        -webkit-transform: translate(0, 30px);
        -moz-transform: translate(0, 30px);
        -ms-transform: translate(0, 30px);
        -o-transform: translate(0, 30px);
        transform: translate(0, 30px); }
      .ic-main-section .icmsr-content .icmsr-item.hidden {
        opacity: 0;
        position: absolute;
        -webkit-transform: translate(0, 30px);
        -moz-transform: translate(0, 30px);
        -ms-transform: translate(0, 30px);
        -o-transform: translate(0, 30px);
        transform: translate(0, 30px); }
      .ic-main-section .icmsr-content .icmsr-item .lightbox-item {
        margin: 0;
        float: left; }
        .ic-main-section .icmsr-content .icmsr-item .lightbox-item .lightbox-lnk:hover:after {
          content: normal; }
      .ic-main-section .icmsr-content .icmsr-item .lightbox-item:hover + .icmsr-info .icmsr-title a {
        text-decoration: underline; }
      .ic-main-section .icmsr-content .icmsr-item .icmsr-info {
        padding: 8px 0 8px 0;
        margin-left: 250px; }
        .ic-main-section .icmsr-content .icmsr-item .icmsr-info .icmsr-header {
          margin-bottom: 21px; }
          .ic-main-section .icmsr-content .icmsr-item .icmsr-info .icmsr-header .icmsr-title {
            color: #343b29;
            font-size: 17px;
            line-height: 17px;
            font-weight: normal; }
            .ic-main-section .icmsr-content .icmsr-item .icmsr-info .icmsr-header .icmsr-title a {
              color: #343b29;
              text-decoration: none; }
              .ic-main-section .icmsr-content .icmsr-item .icmsr-info .icmsr-header .icmsr-title a:hover {
                text-decoration: underline; }
          .ic-main-section .icmsr-content .icmsr-item .icmsr-info .icmsr-header time {
            color: #3c320f;
            font-style: italic;
            font-size: 12px; }
  @media screen and (max-width: 1280px) {
    .ic-main-section .icmsr-content {
      font-size: 12px;
      line-height: 15px; }
      .ic-main-section .icmsr-content .lightbox-item {
        display: inline-block;
        width: 130px;
        /*height: $size;*/
        position: relative;
        overflow: hidden;
        vertical-align: top;
        font-size: 12px;
        letter-spacing: 0;
        margin: 0 4px 16px 4px; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-imgwrap {
          display: block;
          width: 130px;
          height: 130px;
          overflow: hidden;
          position: relative;
          border-radius: 65px; }
          .ic-main-section .icmsr-content .lightbox-item .lightbox-imgwrap img {
            display: block;
            border-radius: 65px; }
        .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk {
          display: block;
          width: 130px;
          position: relative;
          z-index: 1; }
          .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 116px;
            height: 116px;
            border: 7px solid rgba(253, 250, 243, 0.5);
            border-radius: 50%;
            z-index: 2; }
          .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 130px;
            background: url(../img/ert-img-icon.png) center no-repeat;
            background-size: 33px 33px;
            opacity: 0;
            z-index: 1;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 50%; }
          .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:hover:after {
            opacity: 1; }
          .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk:hover .lightbox-text {
            text-decoration: underline; }
          .ic-main-section .icmsr-content .lightbox-item .lightbox-lnk .lightbox-text {
            font-size: 15px;
            line-height: 18px;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin: 0 35px; }
      .ic-main-section .icmsr-content .icmsr-item {
        width: 400px;
        display: inline-block;
        vertical-align: top;
        margin: 0 13px 50px 13px;
        text-align: left; }
        .ic-main-section .icmsr-content .icmsr-item .icmsr-info {
          padding: 8px 0 8px 0;
          margin-left: 150px; } }
