.main-wrap {
  background-color: #fdfaf3; }

.inner-category {
  overflow: hidden; }

/* .ic-main-section ========================================= */
.ic-main-section {
  padding-top: 32px;
  padding-bottom: 10px; }
  .ic-main-section .ic-header {
    overflow: hidden;
    position: relative;
    text-align: center; }
  .ic-main-section .ic-header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    line-height: 430px; }
  .ic-main-section .ic-title {
    font-size: 39px;
    line-height: normal;
    display: block;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 34px 0;
    font-weight: normal;
    position: relative;
    margin: 0 auto 70px auto;
    color: #323e26; }
    .ic-main-section .ic-title:before {
      content: "";
      position: absolute;
      width: 198px;
      height: 1px;
      background: #323e26;
      left: 50%;
      bottom: 0;
      margin-left: -99px; }
  .ic-main-section .ic-main-content {
    max-width: 1280px;
    padding: 0px 46px 50px 50px;
    font-size: 15px;
    overflow: hidden;
    margin: 0 auto; }
    .ic-main-section .ic-main-content .icmc-text {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      line-height: 18px; }
      .ic-main-section .ic-main-content .icmc-text p {
        margin-bottom: 18px; }
      .ic-main-section .ic-main-content .icmc-text .icmc-text-wrap {
        margin-right: 25px; }
    .ic-main-section .ic-main-content .icmc-bar {
      display: inline-block;
      width: 45%;
      vertical-align: top; }
      .ic-main-section .ic-main-content .icmc-bar .icmcb-title {
        font-size: 18px;
        color: #323e26;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 16px; }
      .ic-main-section .ic-main-content .icmc-bar .lightbox-list {
        font-size: 0;
        letter-spacing: -1px;
        text-align: center; }
        .ic-main-section .ic-main-content .icmc-bar .lightbox-list:after {
          content: "";
          width: 100%;
          display: inline-block; }
        .ic-main-section .ic-main-content .icmc-bar .lightbox-list.noscript .lightbox-item .lightbox-lnk:after {
          content: normal; }
        .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item {
          display: inline-block;
          width: 195px;
          /*height: $size;*/
          position: relative;
          overflow: hidden;
          vertical-align: top;
          font-size: 12px;
          letter-spacing: 0;
          margin: 0 4px 16px 4px; }
          .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-imgwrap {
            display: block;
            width: 195px;
            height: 195px;
            overflow: hidden;
            position: relative;
            border-radius: 97.5px; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-imgwrap img {
              display: block;
              border-radius: 97.5px; }
          .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk {
            display: block;
            width: 195px;
            position: relative;
            z-index: 1; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 175px;
              height: 175px;
              border: 10px solid rgba(253, 250, 243, 0.5);
              border-radius: 50%;
              z-index: 2; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 195px;
              background: url(../img/ert-img-icon.png) center no-repeat;
              background-size: 49px 49px;
              opacity: 0;
              z-index: 1;
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -ms-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
              background-color: rgba(0, 0, 0, 0.25);
              border-radius: 50%; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:hover:after {
              opacity: 1; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:hover .lightbox-text {
              text-decoration: underline; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk .lightbox-text {
              font-size: 15px;
              line-height: 18px;
              display: inline-block;
              color: #fff;
              text-decoration: none;
              margin: 0 35px; }
      .ic-main-section .ic-main-content .icmc-bar .icmc-bar-wrap {
        margin-left: 25px;
        text-align: left; }
  @media screen and (max-width: 1280px) {
    .ic-main-section .ic-main-content {
      overflow: hidden; }
      .ic-main-section .ic-main-content .icmc-text {
        width: 420px;
        float: left; }
      .ic-main-section .ic-main-content .icmc-bar {
        width: auto;
        margin-left: 420px;
        display: block; } }

/* .ic-cost-section ===================================== */
.ic-cost-section {
  text-align: center;
  color: #fff;
  font-size: 15px; }
  .ic-cost-section > header {
    background: url(../img/ic-cost-bg2.jpg) center top no-repeat;
    background-size: cover;
    padding: 50px 0 11px 0; }
    .ic-cost-section > header .iccs-title {
      font-size: 30px;
      font-weight: normal;
      position: relative;
      margin-bottom: 31px; }
    .ic-cost-section > header .iccs-btn {
      outline: none;
      height: 47px;
      background: #005826;
      border-radius: 23.5px;
      cursor: pointer;
      padding: 0 52px;
      margin: 0;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      display: inline-block;
      line-height: 47px;
      text-decoration: none;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      letter-spacing: 0.7px;
      font-weight: bold;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      margin-bottom: 43px; }
      .ic-cost-section > header .iccs-btn:hover {
        background-color: #006f30; }
    .ic-cost-section > header .iccs-shares-list {
      margin: 0 auto 24px auto; }
      .ic-cost-section > header .iccs-shares-list .iccs-shares-item {
        font-style: italic;
        margin-bottom: 19px;
        list-style-type: none; }
        .ic-cost-section > header .iccs-shares-list .iccs-shares-item span {
          position: relative;
          display: inline-block; }
          .ic-cost-section > header .iccs-shares-list .iccs-shares-item span:before, .ic-cost-section > header .iccs-shares-list .iccs-shares-item span:after {
            content: "";
            width: 15px;
            height: 15px;
            vertical-align: middle;
            position: relative;
            top: -2px;
            background: url(../img/ic-item-bullit.png) no-repeat;
            display: inline-block;
            margin: 0 14px; }
