/* .ic-main-section ========================================= */
.main-block {
  position: static;
  padding: 0; }

.ic-main-section {
  padding-top: 32px;
  padding-bottom: 49px; }
  .ic-main-section .ic-header {
    overflow: hidden;
    position: relative;
    text-align: center; }
  .ic-main-section .ic-header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    line-height: 430px; }
  .ic-main-section .ic-title {
    font-size: 39px;
    line-height: normal;
    display: block;
    vertical-align: middle;
    font-weight: normal;
    position: relative;
    margin: 0 auto 56px auto;
    color: #323e26;
    text-transform: uppercase; }
    .ic-main-section .ic-title > span {
      display: inline-block;
      position: relative;
      padding: 34px 0; }
      .ic-main-section .ic-title > span:before {
        content: "";
        position: absolute;
        height: 1px;
        background: #323e26;
        left: 36px;
        right: 36px;
        bottom: 0; }
  .ic-main-section .ic-services {
    position: absolute;
    top: 206px;
    left: 136px;
    right: 0;
    bottom: 0; }
    .ic-main-section .ic-services .ics-item {
      position: absolute;
      width: 50%;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      list-style-type: none; }
      .ic-main-section .ic-services .ics-item:nth-child(2) {
        left: 50%; }
        .ic-main-section .ic-services .ics-item:nth-child(2) .ics-lnk .ics-img {
          background: url(../img/services2.jpg) center center no-repeat;
          background-size: cover; }
      .ic-main-section .ic-services .ics-item .ics-lnk {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 39px;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #fff; }
        .ic-main-section .ic-services .ics-item .ics-lnk .ics-img {
          background: url(../img/services1.jpg) center center no-repeat;
          background-size: cover;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        .ic-main-section .ic-services .ics-item .ics-lnk:after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          width: 0px; }
        .ic-main-section .ic-services .ics-item .ics-lnk .ics-img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1; }
        .ic-main-section .ic-services .ics-item .ics-lnk .ics-text {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          padding: 30px 0;
          margin: 0 40px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          z-index: 2; }
          .ic-main-section .ic-services .ics-item .ics-lnk .ics-text:before {
            content: "";
            width: 96px;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -48px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
      .ic-main-section .ic-services .ics-item:hover .ics-lnk .ics-img {
        -webkit-transform: scale(1.025, 1.025);
        -moz-transform: scale(1.025, 1.025);
        -ms-transform: scale(1.025, 1.025);
        -o-transform: scale(1.025, 1.025);
        transform: scale(1.025, 1.025); }
      .ic-main-section .ic-services .ics-item:hover .ics-lnk .ics-text:before {
        width: 250px;
        margin-left: -125px; }
