.main-wrap {
  background-color: #fdfaf3; }

.inner-category {
  overflow: hidden; }

/* .ic-main-section ========================================= */
.ic-main-section {
  padding-bottom: 65px; }
  .ic-main-section .ic-header {
    height: 430px;
    overflow: hidden;
    position: relative; }
  .ic-main-section .ic-wrap {
    position: relative;
    height: 430px; }
    .ic-main-section .ic-wrap .ic-img {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -990px; }
  .ic-main-section .ic-header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    line-height: 430px; }
  .ic-main-section .ic-title {
    font-size: 39px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 26px 0;
    font-weight: normal;
    position: relative;
    margin: 0 auto; }
    .ic-main-section .ic-title:before {
      content: "";
      position: absolute;
      width: 198px;
      height: 1px;
      background: #fff;
      left: 50%;
      bottom: 0;
      margin-left: -99px; }
  .ic-main-section .ic-main-info {
    position: relative;
    z-index: 100; }
    .ic-main-section .ic-main-info .icmi-table {
      /*display: table;*/
      border-bottom: 1px solid #aba286; }
    .ic-main-section .ic-main-info .icmi-tr {
      width: 1145px;
      margin: 0 auto; }
    .ic-main-section .ic-main-info .icmi-td {
      width: 182px;
      height: 95px;
      padding: 15px 0 0 0;
      vertical-align: middle;
      display: table-cell;
      border-right: 1px solid #aba286;
      text-align: center;
      position: relative; }
      .ic-main-section .ic-main-info .icmi-td:first-child {
        border-left: 1px solid #aba286; }
      .ic-main-section .ic-main-info .icmi-td .icmi-text {
        position: relative;
        z-index: 1; }
      .ic-main-section .ic-main-info .icmi-td > div {
        position: relative;
        z-index: 1; }
        .ic-main-section .ic-main-info .icmi-td > div:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 78px;
          height: 78px;
          margin: -40px 0 0 -39px;
          background: url(../img/icmi-icons.png) -1000px no-repeat; }
        .ic-main-section .ic-main-info .icmi-td > div.icmi-title {
          position: absolute; }
          .ic-main-section .ic-main-info .icmi-td > div.icmi-title:before {
            content: normal; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(1) > div:before {
        background-position: 0 0; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(2) {
        width: 162px; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(2) > div:before {
        background-position: -78px 0; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(3) {
        width: 350px; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(4) {
        width: 202px; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(4) > div:before {
        background-position: -156px 0; }
      .ic-main-section .ic-main-info .icmi-td:nth-child(5) {
        width: 204px; }
      .ic-main-section .ic-main-info .icmi-td:last-child {
        padding-top: 0;
        height: 110px; }
    .ic-main-section .ic-main-info .icmi-title {
      position: absolute;
      top: 7px;
      left: 0;
      right: 0;
      color: #9e9579;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;
      z-index: 10;
      font-weight: bold; }
    .ic-main-section .ic-main-info .icmi-text {
      font-size: 25px;
      color: #202020;
      text-transform: uppercase;
      white-space: nowrap; }
    .ic-main-section .ic-main-info .icmi-order-btn {
      outline: none;
      height: 47px;
      background: #005826;
      border-radius: 23.5px;
      cursor: pointer;
      padding: 0 38px;
      margin: 0;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      display: inline-block;
      line-height: 47px;
      text-decoration: none;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      letter-spacing: 0.7px;
      font-weight: bold;
      position: relative; }
      .ic-main-section .ic-main-info .icmi-order-btn:hover {
        background-color: #006f30; }
    .ic-main-section .ic-main-info .icmi-abillities-list {
      list-style-type: none;
      text-align: center;
      display: inline-block;
      white-space: nowrap; }
      .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item {
        white-space: normal;
        display: inline-block;
        width: 44px;
        height: 44px;
        position: relative;
        margin: 0 2px;
        vertical-align: top;
        cursor: default; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item:hover .icmia-hint {
          opacity: 1;
          visibility: visible; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item .icmia-ability {
          width: 42px;
          height: 42px;
          display: block;
          border: 1px solid #aba286;
          border-radius: 21px;
          font-size: 26px;
          line-height: 42px;
          color: #aba286;
          vertical-align: middle;
          overflow: hidden;
          background: url(../img/icmia-icons.png) -1000px no-repeat; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.time .icmia-ability {
          background-position: 0 0; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type3 .icmia-ability {
          background-position: -42px 0; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type4 .icmia-ability {
          background-position: -84px 0; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type5 .icmia-ability {
          background-position: -126px 0; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type6 .icmia-ability {
          background-position: -168px 0; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item .icmia-hint {
          position: absolute;
          left: 50%;
          top: 100%;
          white-space: nowrap;
          background: #847d65;
          color: #fff;
          margin-top: 20px;
          padding: 10px;
          font-size: 14px;
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          -webkit-transform: translate(-50%, 0);
          -moz-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item .icmia-hint:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            margin: -6px 0 0 -6px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #847d65; }
    @media screen and (max-width: 1280px) {
      .ic-main-section .ic-main-info {
        text-align: center; }
        .ic-main-section .ic-main-info .icmi-tr {
          width: 100%;
          margin: 0 auto;
          text-align: center;
          display: table; }
        .ic-main-section .ic-main-info .icmi-td:first-child {
          border-left: none; }
        .ic-main-section .ic-main-info .icmi-td:nth-child(5) {
          border-right: none; }
          .ic-main-section .ic-main-info .icmi-td:nth-child(5) .icmi-order-btn {
            padding-left: 28px;
            padding-right: 28px; }
        .ic-main-section .ic-main-info .icmi-td > div {
          min-width: 150px; }
        .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item {
          width: 32px;
          height: 32px;
          margin: 0 2px; }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item .icmia-ability {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            background-size: 160px 32px;
            line-height: 32px; }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.time .icmia-ability {
            background-position: 0 0; }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type3 .icmia-ability {
            background-position: -32px 0; }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type4 .icmia-ability {
            background-position: -64px 0; }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type5 .icmia-ability {
            background-position: -96px 0; }
          .ic-main-section .ic-main-info .icmi-abillities-list .icmia-item.type6 .icmia-ability {
            background-position: -128px 0; } }
    @media screen and (max-width: 1100px) {
      .ic-main-section .ic-main-info .icmi-td:first-child {
        border-left: none; }
      .ic-main-section .ic-main-info .icmi-td:last-child {
        border-right: none; } }
  .ic-main-section .ic-main-content {
    max-width: 1280px;
    padding: 53px 46px 50px 50px;
    font-size: 15px;
    overflow: hidden;
    margin: 0 auto; }
    .ic-main-section .ic-main-content .icmc-text {
      width: 44%;
      display: inline-block;
      padding-top: 37px;
      vertical-align: top;
      line-height: 18px; }
      .ic-main-section .ic-main-content .icmc-text p {
        margin-bottom: 26px; }
      .ic-main-section .ic-main-content .icmc-text .icmc-text-wrap {
        margin-right: 25px; }
    .ic-main-section .ic-main-content .icmc-bar {
      display: inline-block;
      width: 55%;
      vertical-align: top; }
      .ic-main-section .ic-main-content .icmc-bar .icmcb-title {
        font-size: 18px;
        color: #323e26;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 16px; }
      .ic-main-section .ic-main-content .icmc-bar .lightbox-list {
        font-size: 0;
        letter-spacing: -1px;
        text-align: center; }
        .ic-main-section .ic-main-content .icmc-bar .lightbox-list:after {
          content: "";
          width: 100%;
          display: inline-block; }
        .ic-main-section .ic-main-content .icmc-bar .lightbox-list.noscript .lightbox-item .lightbox-lnk:after {
          content: normal; }
        .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item {
          display: inline-block;
          width: 130px;
          /*height: $size;*/
          position: relative;
          overflow: hidden;
          vertical-align: top;
          font-size: 12px;
          letter-spacing: 0;
          margin: 0 4px 16px 4px; }
          .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-imgwrap {
            display: block;
            width: 130px;
            height: 130px;
            overflow: hidden;
            position: relative;
            border-radius: 65px; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-imgwrap img {
              display: block;
              border-radius: 65px; }
          .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk {
            display: block;
            width: 130px;
            position: relative;
            z-index: 1; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 116px;
              height: 116px;
              border: 7px solid rgba(253, 250, 243, 0.5);
              border-radius: 50%;
              z-index: 2; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 130px;
              background: url(../img/ert-img-icon.png) center no-repeat;
              background-size: 33px 33px;
              opacity: 0;
              z-index: 1;
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -ms-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
              background-color: rgba(0, 0, 0, 0.25);
              border-radius: 50%; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:hover:after {
              opacity: 1; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk:hover .lightbox-text {
              text-decoration: underline; }
            .ic-main-section .ic-main-content .icmc-bar .lightbox-list .lightbox-item .lightbox-lnk .lightbox-text {
              font-size: 15px;
              line-height: 18px;
              display: inline-block;
              color: #fff;
              text-decoration: none;
              margin: 0 35px; }
      .ic-main-section .ic-main-content .icmc-bar .icmc-bar-wrap {
        margin-left: 25px;
        text-align: left; }
  @media screen and (max-width: 1280px) {
    .ic-main-section .ic-main-content {
      overflow: hidden; }
      .ic-main-section .ic-main-content .icmc-text {
        width: 420px;
        float: left; }
      .ic-main-section .ic-main-content .icmc-bar {
        width: auto;
        margin-left: 420px;
        display: block; } }

/* .ic-programm-section ===================================== */
.ic-programm-section {
  padding: 25px 0 0 0;
  background: url(../img/ic-section-bg.jpg) center top no-repeat;
  background-size: cover; }
  .ic-programm-section .icps-title {
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px; }

.icps-slider {
  padding-bottom: 90px;
  white-space: nowrap;
  position: relative;
  cursor: ew-resize; }
  .icps-slider:after, .icps-slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 266px;
    z-index: 10;
    background: url(../img/icps-slider-parts.png) repeat-y; }
  .icps-slider:after {
    left: auto;
    right: 0;
    background-position: -20px 0; }
  .icps-slider.scroll-wrap {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .icps-slider.scroll-wrap.vertical .iScrollVerticalScrollbar {
      width: 10px;
      background: #d5d7d4;
      border-radius: 5px;
      position: absolute;
      top: 50px;
      bottom: 50px;
      right: 0; }
      .icps-slider.scroll-wrap.vertical .iScrollVerticalScrollbar .iScrollIndicator {
        width: 10px;
        border-radius: 5px;
        background: #323e26; }
    .icps-slider.scroll-wrap.horizontal .iScrollHorizontalScrollbar {
      position: absolute;
      bottom: 46px;
      left: 50px;
      right: 50px;
      height: 10px;
      border-radius: 5px;
      background: #bcb49d; }
      .icps-slider.scroll-wrap.horizontal .iScrollHorizontalScrollbar .iScrollIndicator {
        width: 40px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        background: #323e26;
        cursor: pointer; }
    .icps-slider.scroll-wrap .scroller {
      width: 10000px; }
  .icps-slider .icps-s-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .icps-slider .icps-s-list {
    float: left;
    white-space: nowrap;
    overflow: hidden; }
    .icps-slider .icps-s-list:after {
      content: "";
      display: block;
      clear: both; }
    .icps-slider .icps-s-list .icps-s-item {
      width: 540px;
      height: 630px;
      display: inline-block;
      float: left;
      vertical-align: top;
      white-space: normal;
      font-size: 15px;
      letter-spacing: 0;
      overflow: hidden;
      color: #fff;
      font-size: 15px;
      position: relative; }
      .icps-slider .icps-s-list .icps-s-item .icps-s-text {
        width: 504px;
        height: 164px;
        padding: 0 18px;
        text-align: justify;
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        word-spacing: -0.3ex;
        overflow: hidden; }
      .icps-slider .icps-s-list .icps-s-item .icps-s-detail {
        height: 60px;
        overflow: hidden;
        margin: 0 18px;
        position: relative; }
        .icps-slider .icps-s-list .icps-s-item .icps-s-detail .icps-s-detail-list {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 17px; }
          .icps-slider .icps-s-list .icps-s-item .icps-s-detail .icps-s-detail-list dt, .icps-slider .icps-s-list .icps-s-item .icps-s-detail .icps-s-detail-list dd {
            float: left; }
          .icps-slider .icps-s-list .icps-s-item .icps-s-detail .icps-s-detail-list dt {
            clear: left;
            margin-right: 4px; }

/* .ic-cost-section ===================================== */
.ic-cost-section {
  text-align: center;
  color: #fff;
  font-size: 15px; }
  .ic-cost-section > header {
    background: url(../img/ic-cost-bg.jpg) center top no-repeat;
    background-size: cover;
    padding: 22px 0 11px 0; }
    .ic-cost-section > header .iccs-title {
      font-size: 39px;
      font-weight: normal;
      position: relative;
      margin-bottom: 40px; }
      .ic-cost-section > header .iccs-title > span {
        display: inline-block;
        position: relative;
        padding-bottom: 18px; }
        .ic-cost-section > header .iccs-title > span:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px;
          height: 1px;
          background: #fff; }
    .ic-cost-section > header .iccs-btn {
      outline: none;
      height: 47px;
      background: #005826;
      border-radius: 23.5px;
      cursor: pointer;
      padding: 0 52px;
      margin: 0;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      display: inline-block;
      line-height: 47px;
      text-decoration: none;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      letter-spacing: 0.7px;
      font-weight: bold;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      margin-bottom: 43px; }
      .ic-cost-section > header .iccs-btn:hover {
        background-color: #006f30; }
    .ic-cost-section > header .iccs-shares-title {
      text-transform: uppercase;
      margin-bottom: 33px; }
    .ic-cost-section > header .iccs-shares-item {
      font-style: italic;
      margin-bottom: 10px;
      list-style-type: none; }
      .ic-cost-section > header .iccs-shares-item span {
        position: relative;
        display: inline-block; }
        .ic-cost-section > header .iccs-shares-item span:before, .ic-cost-section > header .iccs-shares-item span:after {
          content: "";
          width: 15px;
          height: 15px;
          vertical-align: middle;
          position: relative;
          top: -2px;
          background: url(../img/ic-item-bullit.png) no-repeat;
          display: inline-block;
          margin: 0 14px; }
  .ic-cost-section .iccs-info {
    padding: 25px 0 20px 0;
    color: #3c320f;
    margin: 0 auto;
    width: 1000px; }
    .ic-cost-section .iccs-info .iccs-info-list {
      text-align: justify;
      list-style-type: none;
      margin: 0 50px; }
      .ic-cost-section .iccs-info .iccs-info-list:after {
        content: "";
        width: 100%;
        display: inline-block; }
      .ic-cost-section .iccs-info .iccs-info-list > li {
        white-space: normal;
        display: inline-block;
        vertical-align: top; }
        .ic-cost-section .iccs-info .iccs-info-list > li .iccs-info-title {
          font-size: 21px;
          color: #343c27;
          font-weight: normal;
          margin-bottom: 11px; }
        .ic-cost-section .iccs-info .iccs-info-list > li > ul > li {
          list-style-type: none;
          position: relative;
          padding-left: 10px;
          margin-bottom: 3px; }
          .ic-cost-section .iccs-info .iccs-info-list > li > ul > li:before {
            content: "\2022";
            position: absolute;
            font-size: 10px;
            left: 0px;
            line-height: 20px;
            vertical-align: middle; }

/* .ic-shedule-section ================================== */
.ic-shedule-section .icss-title {
  font-size: 35px;
  color: #323e26;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin-bottom: 48px; }
.ic-shedule-section .icss-list {
  background: url(../img/ic-shedule-bg.jpg) center top no-repeat;
  background-size: cover;
  text-align: center;
  padding: 29px 0 18px 0px;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  /*&:after {
      content: "";
      display: inline-block;
      width: 100%;
  }*/ }
  .ic-shedule-section .icss-list .icss-item {
    white-space: normal;
    display: inline-block;
    text-align: center;
    margin-bottom: 11px;
    margin: 0 1% 11px 1%;
    vertical-align: top;
    position: relative; }
    .ic-shedule-section .icss-list .icss-item:first-child {
      margin-left: 0; }
    .ic-shedule-section .icss-list .icss-item:last-child {
      margin-right: 0; }
  .ic-shedule-section .icss-list .icss-time {
    margin-bottom: 7px; }
  .ic-shedule-section .icss-list .icss-btn {
    outline: none;
    height: 36px;
    background: #005826;
    border-radius: 18px;
    cursor: pointer;
    padding: 0 21px;
    margin: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    letter-spacing: 0.7px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #847d65; }
    .ic-shedule-section .icss-list .icss-btn:hover {
      background-color: #006f30; }

/* .ic-callback-section ================================= */
.ic-callback-section {
  padding: 57px 50px 50px 50px;
  margin-bottom: 110px; }
  .ic-callback-section .iccall {
    width: 533px;
    border: 1px dashed #cccccc;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #323e26;
    text-transform: uppercase;
    padding: 15px 0 21px 0;
    border-radius: 5px; }
    .ic-callback-section .iccall address {
      font-size: 36px;
      font-style: normal;
      padding: 19px 0 0 0;
      margin-bottom: 32px; }
    .ic-callback-section .iccall .iccall-btn {
      outline: none;
      height: 47px;
      background: #005826;
      border-radius: 23.5px;
      cursor: pointer;
      padding: 0 40px;
      margin: 0;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      display: inline-block;
      line-height: 47px;
      text-decoration: none;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      letter-spacing: 0.7px;
      font-weight: bold;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      position: relative; }
      .ic-callback-section .iccall .iccall-btn:hover {
        background-color: #006f30; }

/* .ic-details-section ================================== */
.ic-details-section {
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 143px; }
  .ic-details-section .icds-title {
    font-size: 35px;
    color: #323e26;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px; }
  .ic-details-section .icds-photos {
    width: 64%;
    float: left; }
    .ic-details-section .icds-photos .lightbox-list {
      padding: 20px 0;
      text-align: center; }
      .ic-details-section .icds-photos .lightbox-list:after {
        content: "";
        width: 100%;
        display: inline-block; }
      .ic-details-section .icds-photos .lightbox-list.noscript .lightbox-item .lightbox-lnk:after {
        content: normal; }
      .ic-details-section .icds-photos .lightbox-list .lightbox-item {
        display: inline-block;
        width: 196px;
        /*height: $size;*/
        position: relative;
        overflow: hidden;
        vertical-align: top;
        font-size: 12px;
        letter-spacing: 0;
        margin: 0 4px 16px 4px; }
        .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-imgwrap {
          display: block;
          width: 196px;
          height: 196px;
          overflow: hidden;
          position: relative;
          border-radius: 98px; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-imgwrap img {
            display: block;
            border-radius: 98px; }
        .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk {
          display: block;
          width: 196px;
          position: relative;
          z-index: 1; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 176px;
            height: 176px;
            border: 10px solid rgba(253, 250, 243, 0.5);
            border-radius: 50%;
            z-index: 2; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 196px;
            background: url(../img/ert-img-icon.png) center no-repeat;
            background-size: 49px 49px;
            opacity: 0;
            z-index: 1;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 50%; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:hover:after {
            opacity: 1; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:hover .lightbox-text {
            text-decoration: underline; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk .lightbox-text {
            font-size: 15px;
            line-height: 18px;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin: 0 35px; }
  @media screen and (max-width: 1366px) {
    .ic-details-section .icds-photos {
      width: 60%; }
      .ic-details-section .icds-photos .lightbox-list:after {
        content: "";
        width: 100%;
        display: inline-block; }
      .ic-details-section .icds-photos .lightbox-list.noscript .lightbox-item .lightbox-lnk:after {
        content: normal; }
      .ic-details-section .icds-photos .lightbox-list .lightbox-item {
        display: inline-block;
        width: 150px;
        /*height: $size;*/
        position: relative;
        overflow: hidden;
        vertical-align: top;
        font-size: 12px;
        letter-spacing: 0;
        margin: 0 4px 16px 4px; }
        .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-imgwrap {
          display: block;
          width: 150px;
          height: 150px;
          overflow: hidden;
          position: relative;
          border-radius: 75px; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-imgwrap img {
            display: block;
            border-radius: 75px; }
        .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk {
          display: block;
          width: 150px;
          position: relative;
          z-index: 1; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 134px;
            height: 134px;
            border: 8px solid rgba(253, 250, 243, 0.5);
            border-radius: 50%;
            z-index: 2; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background: url(../img/ert-img-icon.png) center no-repeat;
            background-size: 38px 38px;
            opacity: 0;
            z-index: 1;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 50%; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:hover:after {
            opacity: 1; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk:hover .lightbox-text {
            text-decoration: underline; }
          .ic-details-section .icds-photos .lightbox-list .lightbox-item .lightbox-lnk .lightbox-text {
            font-size: 15px;
            line-height: 18px;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin: 0 35px; }
      .ic-details-section .icds-photos .lightbox-list .lightbox-item {
        margin-left: 2px;
        margin-right: 2px; } }
  .ic-details-section .icds-feedbacks {
    margin-left: 68%; }
    .ic-details-section .icds-feedbacks .icds-comments-wrap {
      position: relative; }
      .ic-details-section .icds-feedbacks .icds-comments-wrap .icdsf-list {
        padding: 20px 0;
        font-size: 14px;
        color: #3c320f;
        list-style-type: none;
        line-height: 16px; }
        .ic-details-section .icds-feedbacks .icds-comments-wrap .icdsf-list .icdsf-head {
          margin-bottom: 18px; }
        .ic-details-section .icds-feedbacks .icds-comments-wrap .icdsf-list .icdsf-item {
          margin-bottom: 46px; }
      .ic-details-section .icds-feedbacks .icds-comments-wrap .icds-leave-comment .active .icds-comment-form {
        z-index: 101; }
      .ic-details-section .icds-feedbacks .icds-comments-wrap .icds-leave-comment .icds-comment-btn {
        outline: none;
        height: 27px;
        background: #005826;
        border-radius: 13.5px;
        cursor: pointer;
        padding: 0 24px;
        margin: 0;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        border: none;
        display: inline-block;
        line-height: 27px;
        text-decoration: none;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        letter-spacing: 0.7px;
        font-weight: bold;
        position: absolute;
        top: -24px;
        right: 0;
        z-index: 101;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none; }
        .ic-details-section .icds-feedbacks .icds-comments-wrap .icds-leave-comment .icds-comment-btn:hover {
          background-color: #006f30; }
      .ic-details-section .icds-feedbacks .icds-comments-wrap .icds-leave-comment .icds-comment-form {
        position: absolute;
        bottom: auto;
        visibility: hidden; }
  .ic-details-section .scroll-wrap {
    height: 440px;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    position: relative; }
    .ic-details-section .scroll-wrap.vertical .iScrollVerticalScrollbar {
      width: 10px;
      background: #d5d7d4;
      border-radius: 5px;
      position: absolute;
      top: 50px;
      bottom: 50px;
      right: 0; }
      .ic-details-section .scroll-wrap.vertical .iScrollVerticalScrollbar .iScrollIndicator {
        width: 10px;
        border-radius: 5px;
        background: #323e26; }
    .ic-details-section .scroll-wrap.horizontal .iScrollHorizontalScrollbar {
      position: absolute;
      bottom: 46px;
      left: 50px;
      right: 50px;
      height: 10px;
      border-radius: 5px;
      background: #bcb49d; }
      .ic-details-section .scroll-wrap.horizontal .iScrollHorizontalScrollbar .iScrollIndicator {
        width: 40px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        background: #323e26;
        cursor: pointer; }
    .ic-details-section .scroll-wrap:after, .ic-details-section .scroll-wrap:before {
      content: "";
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background: url(../img/icds-lightbox-parts.png) repeat-x; }
    .ic-details-section .scroll-wrap:after {
      top: auto;
      bottom: 0;
      background-position: 0 -20px; }
  @media screen and (max-width: 1366px) {
    .ic-details-section .scroll-wrap {
      height: 490px; } }

/* .ic-same-section ===================================== */
.ic-same-section .icsame-title {
  font-size: 35px;
  color: #323e26;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 39px;
  margin-bottom: 50px; }
.ic-same-section .iccame-tours {
  background: #aba286;
  text-align: center;
  padding: 18px 25px 31px 25px; }
  .ic-same-section .iccame-tours .lightbox-list:after {
    content: "";
    width: 100%;
    display: inline-block; }
  .ic-same-section .iccame-tours .lightbox-list.noscript .lightbox-item .lightbox-lnk:after {
    content: normal; }
  .ic-same-section .iccame-tours .lightbox-list .lightbox-item {
    display: inline-block;
    width: 218px;
    /*height: $size;*/
    position: relative;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    letter-spacing: 0;
    margin: 0 4px 16px 4px; }
    .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-imgwrap {
      display: block;
      width: 218px;
      height: 218px;
      overflow: hidden;
      position: relative;
      border-radius: 109px; }
      .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-imgwrap img {
        display: block;
        border-radius: 109px; }
    .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-lnk {
      display: block;
      width: 218px;
      position: relative;
      z-index: 1; }
      .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-lnk:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 196px;
        height: 196px;
        border: 11px solid rgba(253, 250, 243, 0.5);
        border-radius: 50%;
        z-index: 2; }
      .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-lnk:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 218px;
        background: url(../img/ert-img-icon.png) center no-repeat;
        background-size: 55px 55px;
        opacity: 0;
        z-index: 1;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50%; }
      .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-lnk:hover:after {
        opacity: 1; }
      .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-lnk:hover .lightbox-text {
        text-decoration: underline; }
      .ic-same-section .iccame-tours .lightbox-list .lightbox-item .lightbox-lnk .lightbox-text {
        font-size: 15px;
        line-height: 18px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin: 0 35px; }
  .ic-same-section .iccame-tours .lightbox-list .lightbox-item {
    margin: 0 25px 25px 25px; }
  .ic-same-section .iccame-tours .iccame-all-tours {
    outline: none;
    height: 36px;
    background: #005826;
    border-radius: 18px;
    cursor: pointer;
    padding: 0 47px;
    margin: 0;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    letter-spacing: 0.7px;
    font-weight: bold; }
    .ic-same-section .iccame-tours .iccame-all-tours:hover {
      background-color: #006f30; }
